<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

	<!-- js -->
	<script src="/javascripts/jquery-2.2.0.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/random">Random</a></li>
		</ul>
	</nav>